<html>
  <head>
    <title>Exercises</title>
    <style>

    </style>
  </head>
  <body>
    <div>
      <a [routerLink]="['/Ex01component']">Exercise 1</a><br>
      <a [routerLink]="['/Ex02component']">Exercise 2</a><br>
      <a [routerLink]="['/Ex03component']">Exercise 3</a><br>
      <a [routerLink]="['/Ex04component']">Exercise 4</a><br>
      <a [routerLink]="['/Ex05component']">Exercise 5</a><br>
      <a [routerLink]="['/Ex06component']">Exercise 6</a><br>
      <a [routerLink]="['/Ex07component']">Exercise 7</a><br>
      <a [routerLink]="['/Ex08component']">Exercise 8</a><br>
      <a [routerLink]="['/Ex09component']">Exercise 9</a><br>
      <a [routerLink]="['/Ex10component']">Exercise 10</a><br>
      <a [routerLink]="['/Ex11component']">Exercise 11</a><br>

    </div>

  <router-outlet></router-outlet>
  </body>
</html>
